<div *ngIf="products; else loading">
    <h2 class="text-center">Dashboard of products</h2>
    <table>
        <thead class="bg-dark">
            <td>Id</td>
            <td>Product Type</td>
            <td>Price</td>
            <td>Date of creation</td>
            <td>Open</td>
            <td>Delete</td>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; let idx =index">
                <td>{{idx + 1}}</td>
                <td>{{product.productType}}</td>
                <td>{{product.price}}</td>
                <td>{{product.created | date}}</td>
                <td>
                    <button class="btn btn-dark" [routerLink]="['/admin','product', product.id, 'edit']">Open</button>
                </td>
                <td><button class="btn btn-danger" (click)="remove(product.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #loading>
    <div class="text-center">
        Loading...
    </div>
</ng-template>
